<div class="alert alert-success" *ngIf="alertupdate" role="alert">
    Data Updateed 
</div>
<form #moany_trasfer="ngForm" class="p-3">
    <h4 class="text-danger p-3"><i class="fa fa-university" aria-hidden="true"></i> Live <span class="text-dark">Downloader</span></h4>
    <input type="text" ngModel name="downloader" class="form-control" placeholder="Enter Downloader count">
    <!-- <button class="btn btn-danger my-2 mx-3 w-25" (click)="edit(moany_trasfer.value)">Update</button> -->
    <button class="btn btn-danger my-2 w-25" (click)="download(moany_trasfer.value)">Submit</button>

</form>